<div class="container-fluid bg-success-subtle">
    <div class="container py-3 ">
        <div class="row ">
            <div class="col-md-12">
                <div class="footer bg-success-subtle">
                    <h4>Get the freshCart App</h4>
                    <p>we will send you a link , open it on your phone to download the app</p>
                    <div class="col-md-12 d-flex justify-content-between">
                        
                        <div class="col-md-10 ">
                            <input type="text" class="form-control">
                        </div>
                        
                        <div class="col-md-2  px-2">
                            <button class="btn bg-main text-white">share app link</button>
                        </div>
                    </div>
                    
        
                </div>
            </div>
    
            <div class="col-md-12 my-4 d-flex justify-content-around align-items-center">
                <div class="col-md-6">
                    <div class="payment-parteners">
                       <span class="fw-bolder"> payment partners </span> 
                        <img src="../../assets/images/payments.png" class="w-25" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-parteners">
                     <span class="fw-bolder">get delivers with freshCart   </span>  
                        <img src="../../assets/images/app.png" class="w-25" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
