<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 image-main "  >
            <owl-carousel-o [options]="customOptions" >

                <ng-container *ngFor="let slide of productDetails.images" >
                  <ng-template carouselSlide  >
                    <img [src]="slide"  >
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <div class="col-md-8" data-aos="fade-right">
            <h2>{{productDetails.title}}</h2>
            <p class="text-muted">{{productDetails.description}}</p>
            <div class="d-flex justify-content-between">
                <span>{{productDetails.price}} EGP</span>
                <div>
                    <i class="fa fa-star rating-color"></i>
                    <span>{{productDetails.ratingsAverage}}</span>
                </div>
            </div>
   
            <button class="btn bg-main w-100 text-white py-1" (click)="addToCart(productDetails.id)">+ Add</button>
        </div>
    </div>
</div>