<div class="container my-4">
    <div class="row g-0">
        <div class="col-md-9">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img height="400" src="assets/images/slider-image-1.jpeg" class="w-100">
                </ng-template>  
                <ng-template carouselSlide>
                    <img height="400" src="assets/images/slider-image-2.jpeg" class="w-100">
                </ng-template>  
                <ng-template carouselSlide>
                    <img height="400" src="assets/images/slider-image-3.jpeg" class="w-100">
                </ng-template>  
              </owl-carousel-o>
        </div>
        <div class="col-md-3">
            <img height="200" src="assets/images/blog-img-1.jpeg" class="w-100" alt="">
            <img height="200" src="assets/images/blog-img-2.jpeg" class="w-100" alt="">
        </div>
    </div>
</div>